@model School.Models.Register
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Details</h1>

<div>
    <h4>Register</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Register_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Register_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Register_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Register_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Register_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Register_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Register_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
